gateway:

  # Main asset. It must be created in bitshares first
  gateway_core_asset: FINTEH

  #Asset for distribution
  gateway_distribute_asset: ETH

  # Account for distribution (asset owner)
  account: finteh

  # Gateway's account private keys
  # Get it with unlocked account in bitsharesUI->Advanced->Permissions->View Key
  keys:
    active: 5....
    memo: 5....

  nodes:
  - "wss://btsws.roelandp.nl/ws"


zqm_server:
  host: 0.0.0.0
  port: 5555
