name: build

on:
  push:
    tags:
      - '!refs/tags/*'
    branches:
      - '*'

jobs:
  run_tests:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2

      - name: Create test env
        run: cp .env.example .env

      - name: Build database container
        run: docker-compose run -d postgres

      - name: Create network
        run: docker network create finteh-network

      - name: Build the stack
        run: docker-compose up --build -d

      - name: Run tests
        run: docker-compose exec -T gateway pipenv run pytest tests/
